In [7]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import random

import os
# df_join = pd.DataFrame()
# for dirname, _, filenames in os.walk("."):
#     for filename in filenames:
#         print(os.path.join(dirname, filename)) # imprime la direccion y nombre del archivo
#         df_temp = pd.read_csv(os.path.join(dirname, filename)) # carga el csv en un dataframe
#         df_temp = df_temp[df_temp['Order ID'] != 'Order ID'] # quita los registros que tienen como valor "Order ID"
#         df_temp = df_temp.dropna() # quita los nulos del df
#         df_join = pd.concat([df_join, df_temp], ignore_index = True) # concatena los archivos

import os
for dirname, _, filenames in os.walk('.\input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

.\input\Sales_April_2019.csv
.\input\Sales_August_2019.csv
.\input\Sales_December_2019.csv
.\input\Sales_February_2019.csv
.\input\Sales_January_2019.csv
.\input\Sales_July_2019.csv
.\input\Sales_June_2019.csv
.\input\Sales_March_2019.csv
.\input\Sales_May_2019.csv
.\input\Sales_November_2019.csv
.\input\Sales_October_2019.csv
.\input\Sales_September_2019.csv

In [9]:
files = [file for file in os.listdir('./input')]
for file in files:
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [11]:
all_data = pd.DataFrame()

#Make a loop for Concatenate the data
for file in files:
    data = pd.read_csv("./input/" + file)
    all_data = pd.concat([all_data, data])
    
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,4/30/2019 9:27,"333 8th St, Los Angeles, CA 90001"

In [13]:
all_data.shape

(186849, 6)

In [14]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186849 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

In [15]:
all_data.isnull().sum()

Order ID            544
Product             544
Quantity Ordered    544
Price Each          544
Order Date          544
Purchase Address    544
dtype: int64

In [16]:
#drop null rows
all_data = all_data.dropna(how='all')
all_data.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [17]:
all_data.shape

(186305, 6)

In [ ]:
df_join['City'] = df_join['Purchase Address'].apply(lambda x: x.split(',')[1])
df_join['Order Date'] = pd.to_datetime(df_join['Order Date'])

df_join['Quantity Ordered'] = df_join['Quantity Ordered'].astype(int)
df_join['Quantity Ordered'] = df_join['Quantity Ordered'].apply(lambda x: x * random.randint(1, 5))

In [ ]:
df_join.head()

In [ ]:
df_join.to_csv('Sales_Product_Data_Full.csv', index = False)